* text=auto
*.py text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.onnx binary

# Preserve upstream license bytes so recorded SHA-256 hashes also match on Windows.
packaging/licenses/** -text
